node_modules/
venv/
__pycache__/
.env
*.env
*.mp4
*.mp3
*.wav


# ==========================================
# Frontend Ionic & Angular
# ==========================================
node_modules/
.angular/
.sourcemaps/
.sass-cache/
bin/
obj/

# Carpetas de compilación de producción y desarrollo
www/
dist/
.shadow-cljs/

# Archivos de configuración local de Ionic / Capacitor
.ionic/
.capacitor/
capacitor.config.json.local